@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0cd205;
}

.mycards {
  display: inline-block;
  margin: auto;
  padding: 10px;
  background-color: white;
  height: 450px;
  width: 250px;
  border-radius: 5%;
  position: relative;
}

.top-suit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: xx-large;
}

.bottom-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: xxx-large;
}

.number {
  position: absolute;
  top: 45%;
  font-size: xxx-large;
}
